[Unit]
Description=homepage

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/homepage
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
